@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Poppins;
    font-weight: 450;
    background-color: #fafaf9;
    color: #451a03;
}

.contact {
    display: flex;
    justify-content: space-between;
    height: 42rem;
    box-shadow: 5px 5px 10px #00000033;
    margin: 3.5% 10% 3.5% 10%;
    border-radius: 10px 10px 10px 10px;
}

.leftcontact {
    width: 55%;
    height: 42rem;
    padding: 5%;
    border-radius: 10px 0 0 10px;
    background-color: rgba(255, 255, 255, 0.449);
    color: #451a03;
    align-content: center;
    background-image: url(images/lcontact.png);
}

.git {
    padding: 20px;
    text-align: center;
}

.git h2 {
    font-size: 40px;
    padding: 20px;
}

.gith h3 {
    font-size: 35px;
    text-align: center;
}

.gith i {
    font-size: 15px;
    width: 3rem;
    padding: 13px;
    margin: 1px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 100%;
    text-align: center;
}

.gith p {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}

.icons {
    margin: 0 0 0 36%;
    padding: 15px 0 15px 0;
}

.icons i:hover {
    background: #451a03;
    color:  #f5f5f4;
    box-shadow: 5px 5px 10px #00000033;
    cursor: pointer;
}

.git p {
    font-size: 15px;
    font-weight: 400;
    padding: 0 70px 0 70px;
}

form {
    margin: 3% 5% 5% 15%;
}

.inputbox input {
    width: 85%;
    height: 50px;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    color: #451a03;
    border-bottom: 2px solid rgba(128, 128, 128, 0.120);
    border-radius: 10px;
    background-color: #f5f5f4;
    font-family: poppins;
}

::placeholder {
    color: #7777774b;
}


form button {
    margin: 3% 25% 5% 18%;
    width: 50%;
    height: 38px;
    justify-content: center;
    font-weight: 550;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #451a03;
    background-color:#f5f5f4;
    cursor: pointer;
    border: 1px solid #1b0b0209;
    transition: background-color 0.3s ease, color 0.3s ease;
}

form button:hover {
    background: #451a03;
    color:  #f5f5f4;
    box-shadow: 5px 5px 10px #00000033;
}


.rightcontact {
    width: 45%;
    padding: 2%;
    border-radius: 0 10px 10px 0;
    align-content: center;
    background-image: url(images/bgcontact.png);
}

.rightcontact button {
    margin: 3% 25% 5% 29.5%;
    width: 40%;
    height: 38px;
    justify-content: center;
    font-weight: 550;
    padding: 10px;
    border-radius: 10px;
    color: #451a03;
    cursor: pointer;
    border: 2px solid #451a03;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.rightcontact button:hover {
    background: #451a03;
    color:  #f5f5f4;
    box-shadow: 5px 5px 10px #00000033;
}

footer {
    text-align: center;
    font-size: 12px;
    padding-bottom: 7px;
    font-weight: 300;
    font-style: italic;
}